registry=https://registry.npmmirror.com/
@vitejs:registry=https://registry.npmmirror.com/
@testing-library:registry=https://registry.npmmirror.com/
@types:registry=https://registry.npmmirror.com/
@typescript-eslint:registry=https://registry.npmmirror.com/
